/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Themes" Nazar Miller
    Support:    miller.themes.inbox@gmail.com
	   		   
--------------------------------------------- */

/* -------------------------------------------

    1500px

--------------------------------------------- */

@media (max-width: 1500px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

@media (max-width: 1200px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    h1,
    .h1 {
        font-size: 60px;
    }
    .header-1 h3 {
        font-size: 30px;
    }
    .navbar li a {
        font-size: 14px;
    }
    .social-icons ul {
        padding-bottom: 0;
    }
}

/* -------------------------------------------

    1100px

--------------------------------------------- */

@media (max-width: 1100px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
    .social-icons {
        display: none;
    }
}


/* -------------------------------------------

    992px

--------------------------------------------- */

@media (max-width: 992px) {
    .header-1 .header-phone {
        display: none;
    }
    .masc,
    .padding-masc {
        padding: 30px 0;
    }
    .blog .subscribe {
        margin-top: 0;
    }
    .about .about-text {
        height: 100%;
    }
    .video .video-text div {
        margin: auto;
        text-align: center;
    }
    .download .download-text {
        height: 100%;
        text-align: center;
    }
    .faq .faq-text {
        height: 100%;
        text-align: center;
    }
    .blog .subscribe-text {
        height: 100%;
        margin-bottom: 30px;
    }
    .blog .subscribe-text div {
        margin: auto;
    }
    .blog .subscribe .subscribe-input {
        height: 100%;
    }
    .start {
        padding-bottom: 0;
        text-align: center;
    }
    .advantages-phone {
        display: none;
    }
    .navbar {
        font-size: 26px;
        padding-top: 10px;
        display: block;
        height: 70px;
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
        box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
    }
    .navbar-brand h3 {
        font-size: 26px;
    }
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    .scrolled .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: 7px;
        padding: 5px 15px 15px;
        text-align: center;
        opacity: .95;
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
        box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
    }
    .navbar-collapse li {
        padding: 0 15px;
    }
    footer {
        height: 100%;
        text-align: center;
    }
    footer .copyright p {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    footer .footer-brand {
        display: block;
    }
    footer .footer-brand img {
        width: 40px;
    }
    footer .footer-social {
        display: block;
        height: 100%;
        margin-top: 15px;
    }
    footer {
        padding-top: 30px;
    }
    .blog .subscribe h3 {
        margin: 0;
    }
    .features ul li {
        list-style-type: none;
        margin: 0 0 30px;
    }
    .start .padding-masc,
    .team .padding-masc,
    .price .padding-masc,
    .features .padding-masc,
    .stats .masc {
        padding-bottom: 0;
    }
}

/* -------------------------------------------

    767px

--------------------------------------------- */

@media (max-width: 767px) {

    .dwnld-btn {
        margin: 7.5px;
    }
    .text-right-adaptive {
        text-align: left;
    }
    .hiden {
        display: block;
        display: inline-block;
    }
    .future .left {
        display: none;
    }

}

/* -------------------------------------------

    600px

--------------------------------------------- */

@media (max-width: 600px) {
    .ilustration {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    .social-icons {
        visibility: hidden;
    }
}

/* -------------------------------------------

    500px

--------------------------------------------- */

@media (max-width: 500px) {
    .ilustration {
        -webkit-transform: scale(8.5);
        transform: scale(8.5);
    }
}

/* -------------------------------------------

    450px

--------------------------------------------- */

@media (max-width: 450px) {
    .ilustration {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    .about .ilustration {
        padding: 90px 0 0;
        height: 400px;
    }
    .download .ilustration {
        padding: 90px 0 0;
        height: 400px;
    }
    .download h2 {
        font-size: 50px;
    }
    .faq .ilustration {
        padding: 90px 0 0;
        height: 400px;
    }
    .panel-title i {
        display: none;
    }
}

/* -------------------------------------------

    400px

--------------------------------------------- */

@media (max-width: 400px) {
    .ilustration {
        -webkit-transform: scale(.6);
        transform: scale(.6);
    }
    .about .ilustration {
        padding: 50px 0 0;
        height: 350px;
    }
    .download .ilustration {
        padding: 50px 0 0;
        height: 350px;
    }
    .faq .ilustration {
        padding: 50px 0 0;
        height: 350px;
    }
    .header-1 {
        height: 100%;
    }
    .header-1 .main-title {
        text-align: center;
        padding: 0;
    }
    .main-title {
        height: 100vh;
    }
    .owl-theme .owl-nav {
        position: relative;
        height: 0px;
        width: 150px;
        margin: 0 auto;
    }
    .owl-theme .owl-prev {
        position: relative;
        top: -16vh;
    }
    .owl-theme .owl-next {
        position: relative;
        left: 25px;
        top: -16vh;
    }
    .background-img {
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1,
    .h1 {
        font-size: 45px;
    }
    .stats .background-img {
        height: 100%;

    }
}

/* -------------------------------------------

    300px

--------------------------------------------- */

@media (max-width: 300px) {
    .ilustration {
        -webkit-transform: scale(.45);
        transform: scale(.45);
    }
    .about .ilustration {
        padding: 30px 0 0;
        height: 200px;
    }
    .download .ilustration {
        padding: 30px 0 0;
        height: 200px;
    }
    .download h2 {
        font-size: 40px;
    }
    .faq .ilustration {
        padding: 30px 0 0;
        height: 200px;
    }

}

/* -------------------------------------------

    Height

--------------------------------------------- */

@media (max-height: 730px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }

}

@media (max-height: 600px) {
    .header-1 .header-phone {
        padding-top: 20px;
    }
    .header-1 .ilustration {
        -webkit-transform: scale(.65);
        transform: scale(.65)
    }

}
